<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Infinite Go</title>
        <link rel="stylesheet" href="game_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
        <canvas id="goban"></canvas>
        <div id="panel">
            <div class="logo-panel">
                <img class="logo" src="infinite_go_logo_transparent.png">
                <h2>infinitego.net</h2>
                <hr>
                <div class="team-selection-buttons">
                    <div id="white-team-button" class="team-button active-team-button" onclick="change_team('white')"></div>
                    <div id="black-team-button" class="team-button" onclick="change_team('black')"></div>
                </div>
                <p id="team-indicator">Team: White</p>
            </div>
            <img class="close-icon" src="close_icon.png" onclick="close_panel()">
            <a class="sign-out" href="/logout">Sign Out</a>
        </div>
        <div id="panel-icon" onclick="open_panel()">
            <img src="infinite_go_logo_transparent.png">
            <div id="panel-menu-button">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <script type="text/javascript" src="goban.js"></script>
        <script type="text/javascript" src="infinite_go_websocket_client.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
