<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Infinite Go</title>
        <link rel="stylesheet" href="game_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <canvas id="goban"></canvas>
        <div class="panel">
            <div class="logo-panel">
                <img class="logo" src="infinite_go_logo_transparent.png">
                <h2>infinitego.net</h2>
                <hr>
            </div>
            <a href="/logout">Sign Out</a>
        </div>
        <script type="text/javascript" src="goban.js"></script>
    </body>
</html>
