body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100vh;
    height: 100%;
    margin: 0px;
    font-family: sans;
}

#goban {
    background-color: #969696;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.panel {
    display: grid;
    background-color: #f0f0f0;
    text-align: center;
    max-width: 12em;
    display: none;
}

.logo-panel h2 {
    font-size: 1.3em;
    margin: 0em;
}

.logo-panel hr {
    margin: 1em;
}

.panel a {
    color: #007fc8;
    text-decoration: none;
    text-align: right;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: auto;
}

.logo {
    width: 10em;
    height: 10em;
    margin: 1em;
    margin-bottom: 0em;
}

#panel-icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

#panel-icon img {
    height: 3em;
    width: 3em;
    margin: 0.5em;
    padding: 0.25em;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.75);
}
