@import url('https://fonts.googleapis.com/css?family=Inter');

html, body {
    overscroll-behavior-y: none;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    margin: 0px;
    font-family: sans;
    font-family: Inter;
}

#goban {
    background-color: #969696;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    user-select: none;
}

#panel {
    display: grid;
    background-color: #f0f0f0;
    text-align: center;
    max-width: 12em;
    display: none;
    grid-row: 1;
    grid-template-columns: 1fr auto;
}

.panel-backdrop-filter {
    background-color: rgba(240,240,240,0.75) !important;
    backdrop-filter: blur(0.3em);
    grid-column: 2;
}

.logo-panel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo-panel h2 {
    font-size: 1.3em;
    margin: 0em;
}

.logo-panel hr {
    margin: 1em;
    grid-row: 1;
    color: black;
    background-color: black;
    border: none;
    height: 1px;
}

.team-selection-buttons {
    display: flex;
    justify-content: center;
}

.team-button {
    width: 2em;
    height: 2em;
    border: 2px solid black;
    border-radius: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.active-team-button {
    box-shadow: 0 0 0.5em 0.0em rgba(22, 148, 213, 0.8);
}

#white-team-button {
    background-color: white;
}

#black-team-button {
    background-color: black;
}

#team-indicator {
    color: rgba(100,100,100);
}

#panel .close-icon {
    grid-row:1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0.5em;
    width: 1em;
    height: 1em;
}

#panel .sign-out {
    color: #007fc8;
    text-decoration: none;
    text-align: right;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo {
    width: 10em;
    height: 10em;
    margin: 1em;
    margin-bottom: 0em;
}

#panel-icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: rgba(255,255,255,0.75);
    border-radius: 0.5em;
    width: 3.75em;
    height: 5.08em;
    margin: 0.5em;
    z-index: 1;
    backdrop-filter: blur(0.3em);
}

#panel-icon img {
    height: 2.75em;
    width: 2.75em;
    margin: 0.5em;
    margin-bottom: 0em;
}

#panel-menu-button {
    width: 1.5em;
    height: 0.95em;
    margin: 0.19em 1.125em 0em 1.125em;
}

#panel-menu-button div {
    width: 1.5em;
    height: 0.19em;
    margin: 0.19em 0em 0em 0em;
    background-color: black;
    border-radius: 0.5em;
}
