@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    display: grid;
    font-family: sans;
    font-family: Inter;
}

.logo {
    height: 16em;
    width: 16em;
    margin: auto;
}

body h2 {
    text-align: center;
}
body h3 {
    text-align: center;
}

body form {
    margin: 1em auto;
}
form label {
    display: block;
    margin: 0em auto 0.25em auto;
}

form input {
    display: block;
    margin: auto;
    margin-bottom: 1.5em;
}

form .error-message {
    margin: 0em auto 0.25em auto;
    text-align: center;
    color: red;
}

.hidden {
    display: none;
}

form a {
    display: block;
    text-align: center;
}
